*{
   font-family: Arial, Times, serif;
   font-size: 20px;
   font-weight: 100;
   margin: 0;
}

.header{
    width: 100%;
    padding: 10px;
    background: #164B60;
}

.nav{    
    
    padding: 10px;
    background: #164B60;
}

.main{
    display: flex;
    width: 100%;
    
    padding: 10px;
    background: #1B6B93;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.article{
    min-width: 30px;
    max-width:200px;
    position: relative;
    padding: 4px;
    padding-bottom: 0;
    background: #4FC0D0;
    margin: 5px;
}

.titulo{
    font-family: serif,arial,times;
    font-weight: bold;
    font-variant: small-caps;
    width: 100%;
    padding: 1px;
    background: #A2FF86;
    text-align: center;
}

.titulo:hover{
    color:white;
}

.imagen__container{
    margin: 10px auto;
    width: 90%;
    background: #4FC0D0;
    text-align:center;
}

 .imagen{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.imagen__container:hover{
    width: 100%;
    background: #CD6688;
}

.txt{
    font-family: serif,arial,times;
    padding: 4px;
    font-size: 3vh;
    background: #1F6E8C;
    border-radius: 5px;
    outline: 1px solid black;
    max-height: 70px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 1px;
    margin-bottom:10px;
    transition: max-height .6s;
}

.txt:hover{
    max-height: 300px;
    overflow: auto;
}


