*{
    font-family:'Times New Roman', Times, serif;
   font-size: 30px;
   font-weight: 100;
   margin: 0px;
}

div{

    width: 200px;
    height: 200px;
    background: yellow;
    display: block;
}

.caja1{
    background-color: red;
    top: 20px;
}

.caja2{
    background-color: blue;
    position: relative;
    top: 60px;
    left: 20px;
    z-index: 20;

}

.caja3{
    background-color: indigo;
    position: relative;
    z-index: 10;
}

.caja4{
    background-color: fuchsia;
}

